/* CSS that fix Android 2.3.6 scrolling bug */
body
{
	height: auto !important;
	position: static !important;
}

.content
{
	padding-top: 80px !important;
	height: 100% !important;
	position: static !important;
}
/********************/

/* CSS fix for modal visibility bar issue on iOS8 */
header.bar.bar-nav
{
	-webkit-transform: translateZ(0);
}

.bar.bar-header-secondary
{
	-webkit-transform: translateZ(0);
}

.bar.bar-footer
{
	-webkit-transform: translateZ(0);
}
/********************/

.bar
{
	height: initial;
	padding-top: 50px;
	border: 0 none;
	background-color: #D2D829;
}

/*.bar a
{
	display: block;
}

.title
{
	position: inherit;
}*/

#top-bar
{
	position: relative;
}

#main-search-form input
{
	width: 90%;

	padding-left: 70px;
	border: 0 none;
	margin-top: 20px;

	box-shadow: none;

	color: #fff;

	background-color: #D2D829;
}

#main-search-form button
{
	position: absolute;
	border: 0 none;

	left: 10px;
	top: 4px;

	background-color: #D2D829;
}

#main-search-form button i
{
	color: #fff;
}

#main-search-form::-webkit-input-placeholder
{ /* WebKit browsers */
    color: #fff;
}
#main-search-form:-moz-placeholder
{ /* Mozilla Firefox 4 to 18 */
   color: #fff;
   opacity:  1;
}
#main-search-form::-moz-placeholder
{ /* Mozilla Firefox 19+ */
   color: #fff;
   opacity:  1;
}
#main-search-form:-ms-input-placeholder
{ /* Internet Explorer 10+ */
   color: #fff;
}

#main-options
{
	position: absolute;

	right: 10px;
	top: 4px;
}

#main-options i
{
	color: #fff;
}


/* Test styles*/

/*#test-list
{
	padding: 0;
	border: 1px solid #000;
	margin-top: 50px;

	list-style-type: none;

	border-radius: 4px;
}

	#test-list > li
	{
		display: block;
	}

	#test-list li + li
	{
		border-top: 1px solid #000;
	}

	#test-list a
	{
		display: block;

		padding: 10px;
	}

	#test-list strong
	{

		}*/



@media (min-width: 456px)
{
	.col-sm-4 {
		width: 33.33333333% !important;
	}
}