<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"

    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "es.qinteractiva.spyko"
    version     = "1.0.6"
    versionCode = "10" >

    <!-- versionCode is optional and Android only -->

    <preference name="phonegap-version" value="3.6.3" />

    <name>SPKTest APP</name>

    <description>
        App de prueba para SPK. 
    </description>

    <author href="http://q-interactiva.com" email="andres@q-interactiva.com">
        [Q] Andrés
    </author>

    <gap:platform name="ios" />
    <gap:platform name="android" />

    <icon src="icon.png" />
    <gap:splash src="splash.png" />

    <preference name="DisallowOverscroll" value="true"/>
    <preference name="Fullscreen" value="true" />

    <gap:plugin name="org.apache.cordova.inappbrowser"/>

</widget>